<!-- The link that was emailed to the user. 
  This view will validate the token and display a password form 
  if the token is valid or an error message if the token is invalid 
  (e.g. was already used or expired). -->
{% extends 'base.html' %}

{% block title %}Set a new password{% endblock %}

<!-- Main content -->
{% block content %}
<div class='main-container'>

  <div class='info-container'>
    <h1 class='grand-title'>Set a new password</h1>
  </div>

  <!-- Password reset form -->
  <div class='info-container'>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Change my password">
    </form>
  </div>

</div>
{% endblock %}