@font-face {
    font-family: Comfortaa-Bold;
    src: url(/static/fonts/Comfortaa-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(/static/fonts/Comfortaa-Light.ttf) format('truetype');
  }

@font-face {
    font-family: Comfortaa-Regular;
    src: url(/static/fonts/Comfortaa-Regular.ttf) format('truetype');
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 800px; */
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    font-family: "Lato", "Open Sans", "Avenir", Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between; /* align content on opposite ends */
    padding: 0;
    width: 80%;
    margin: auto; /* center content */
}

nav a {
    font-family: "Open Sans", "Avenir", Arial, sans-serif;
}

nav a:hover {
        /* Custom underline */
        border-bottom: 2px solid;
        padding-bottom: 3px;
        text-decoration: none;
}

.logo {
    font-family: "Comfortaa-Bold", "Arial Black", Gadget, sans-serif;
    color: violet;
    font-size: 20px;
    /* text shadow to make the text appear bolder */
    /* x-offset | y-offset */
    text-shadow: -1px 0, 1px 0;
    /* text-shadow: -0.75px 0, 0.75px 0, 0 0.75px, 0 -0.75px; */
}

.desktop-nav {
    display: inline;
}

#menuIcon, .mobile-nav {
    display: none;
}

.navbar-list {
    list-style-type: none; /* remove bullets */
    /* margin-right: 30px; */
}

.navbar-list li {
    display: inline; /* orient list horizontally */
    margin-left: 12px;
}

a {
    text-decoration: none; /* remove underline */
    color: mediumslateblue;
}

a:hover, .mock-link:hover {
    /* bad low contrast: cornflowerblue & mediumslateblue */
    color: cornflowerblue;
    transition-duration: 160ms;
    text-decoration: underline;
}

a:visited {
    color: blueviolet;
}

/* Current page link */
.current {
    font-weight: bold;
}

.mock-link {
    text-decoration: underline;
    color: lightseagreen;
}

.main-container {
    width: 80%;
    margin: auto; /* center content */
    display: flex;
    justify-content: space-between; /* align content on opposite ends */
    flex-flow: row;
}

.info-container {
    margin-top: 200px;
    padding-right: 32px;
    flex: 5
}

p {
    font-size: 16px;
}

.grand-title {
    font-family: Comfortaa-Bold, "Open Sans", "Avenir", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

.sub-text {
    font-size: 20px;
}

h1, h2, p {
    color: slategray;
    padding: 0;
}

.link-block a {
    display: block;
    padding: 6px 0;
}

.top-whitespace {
    margin-top: 64px;
}

img {
    width: 100%;
}

.welcome-owl-img {
    margin: 82px;
    border-width: 0;
    border-radius: 35% 42% 18% 60%;
}

.qr-container {
    margin-top: 132px;
    /* padding: 64px; */
    /* width: 200px;
    height: 200px; */
    /* background-color: whitesmoke; */
    flex: 3
}

.qr {
    height: 380px;
    width: 380px;
    /* border-style: dashed;
    border-width: 4px;
    border-color: violet; */
}

.qr-frame {
    display: block;
    position: relative;
    margin-top: -370px;
    margin-left: 14px;
    z-index: -10;
}

.form-container {
    margin-top: 48px;
    padding: 64px;
    width: 200px;
    background-color: whitesmoke;
    flex: 3
}

label {
    display: block;
    font-weight: bold;
    color: slategray;
    margin-top: 24px;
}

input, .form-input {
    margin-top: 8px;
    width: 248px;
    max-width: 100%;
    height: 24px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    font: 16px "Helvetica", "Arial", "sans-serif";
    color: lightseagreen;
    padding: 4px;
}

input:focus {
    border-color: violet;
    border-width: 2px;
}

.feedback {
    color: crimson;
    background-color: rgb(255, 179, 179);
    border-radius: 1px;
    border-style: solid;
    padding: 12px;
}

.hidden {
    display: none;
}

button {
    border: none;
    color: white;
    background-color: violet;
    width: 132px;
    height: 32px;
    border-radius: 8px;
    font-weight: bold;
    margin: 32px 0;
}

button:hover {
    width: 252px;
    height: 26px;
    transition-duration: 200ms;
    cursor: pointer;
    background-color: mediumorchid;
}

.behind {
    position: absolute;
    z-index: -100;
    display: inline;
}

.blob {
    width: "400";
    height: "400";
}

/* scrollbar*/
::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(230, 230, 230);
}

/* the draggable scrolling handle */
::-webkit-scrollbar-thumb
{
	background-color: violet;
}

/* Responsive css for SMALLER SCREEN RESOLUTIONS */
@media only screen and (max-width: 680px) {

    .mobile-nav {
        display: inline;
    }

    .desktop-nav {
        display: none;
    }

    #menuIcon {
        display: block;
        margin: 0;
        padding: 20px 32px;
        padding-right: 0;
    }

    #menuIcon:hover {
        cursor: pointer;
    }
    
    #navDisplay, #closeButton {
        position: absolute;
        top: 0;
        right: 0;
    }

    /* Display navbar list links onClick event in Javascript */
    #navDisplay {
        background-color: whitesmoke;
        z-index: 10;
        height: 100vh;
        width: 254px;
    }

    button:hover {
        width: 132px;
        height: 32px;
        transition-duration: 0;
        cursor: pointer;
        background-color: mediumorchid;
    }

    #closeButton {
        margin: 20px;
        width: 64px;
    }

    #closeButton, .navbar-list {
        padding: 0;
    }

    .navbar-list {
        margin: 32px;
        margin-top: 100px;
    }

    .navbar-list li {
        display: block; /* orient list vertically */
        margin-bottom: 16px;
    }

}

/* Responsive css for MOBILE */
@media only screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    nav {
        width: 100%;
        margin: auto; /* center content */
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
        /* Sticky nav bar */
        position: fixed;
        top: 0;
        background-color: white;
    }

    .logo {
        padding-left: 32px;
    }

    #menuIcon {
        margin: auto 0;
        padding-right: 32px;
    }

    p, .grand-title, .sub-text {
        font-size: 110%;
    }

    h1, h2, p {
        text-align: center;
    }

    .main-container {
        justify-content: center;
        flex-flow: column;
        margin: auto;
        padding-top: 60px;
    }

    .info-container, .qr-container {
        margin: auto;
        margin-top: 64px;
        padding-right: 0;
    }

    .form-container {
        margin: 0;
        padding: 64px;
    }

    form {
        width: 100%;
        margin: auto;
    }

    .welcome-owl-img {
        margin: 0;
        margin-top: 64px;
        width: 85%;
        padding: 0 32px;
    }
}