{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

<!-- Main content -->
{% block content %}
<div class='main-container'>

  {% if user.is_authenticated %}

  <!-- Form allows user to change their account details -->
  <div class='form-container'>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

  {% else %}
  <!-- Let users know that they should be logged in to edit profile. -->
  <div class='info-container'>
    <h1 class='grand-title'>Oops!</h1>
    <p>Please log in.</p>
  </div>
  {% endif %}

</div>
{% endblock %}