{% extends 'base.html' %}

{% block title %}Home{% endblock %}

<!-- Main content -->
{% block content %}
<div class='main-container'>

<!-- user can see their QR code and email if logged in -->
{% if user.is_authenticated and user.username == recipient.username %}

  <div class='info-container'>
    <h1 class='grand-title'>{{ recipient.username }} 's QR code</h1>
    <p class='sub-text'>Messages will be sent to: {{ recipient.email }}</p>
    <p><a href="{% url 'edit_profile' %}">edit profile</a></p>
    <p><a href="{% url 'password_reset' %}">change your password</a></p>
  </div>

  <div class='qr-container'>
    {% load qr_code %}
    <img class='qr' src="{% qr_url_from_text request.build_absolute_uri %}" alt="QR code">
    
    <!-- Trouble positioning svg over qr square -->
    <svg class='behind' viewBox="0 0 100 100" width="350px">
        <path d="M25,2 L2,2 L2,25" fill="none" stroke="black" stroke-width="3" />
        <path d="M2,75 L2,98 L25,98" fill="none" stroke="black" stroke-width="3" />
        <path d="M75,98 L98,98 L98,75" fill="none" stroke="black" stroke-width="3" />
        <path d="M98,25 L98,2 L75,2" fill="none" stroke="black" stroke-width="3" />
      </svg>
  </div>

{% else %}

  <div class='info-container'>
    <!-- NOTE: Remove email after testing -->
    <!-- others should not be able to see a user's email -->
    <p>Email: {{ recipient.email }}</p>
    <p class='sub-text'>Send a message to {{ recipient.username }} </p>
  </div>
  <!-- NOTE: Optional name field, example: "You are writing to Space Bunny" -->

  <div class='form-container'>
    <!-- Add form here -->
    <!-- Form **should** send message to user's email without the sender knowing user's email -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
          <button type="submit">Send</button>
        </div>
    </form>
  </div>

{% endif %}

</div>
{% endblock %}
