<!-- delete this file -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- {% if user.is_authenticated %} -->
  <p>Profile of {{ user.username }}</p>
  <p>Contact email: {{ user.email }}</p>
  <p>-- Embedded QR --</p>
  {% load qr_code %}
  <img src="{% qr_url_from_text request.build_absolute_uri %}" alt="Hello World!">
  <!-- <img src="{% qr_url_from_text "help me im dying" %}" alt="Hello World!"> -->
  <div>
    <p><a href="{% url 'home' %}">home</a></p>
    <p><a href="{% url 'logout' %}">logout</a></p>
  </div>
<!-- {% else %} -->
  <!-- <p>-- Add contact form here --</p> -->
<!-- {% endif %} -->

{% endblock %}
