{% extends 'base.html' %}

<!-- Page title -->
{% block title %}Home{% endblock %}

<!-- Main content -->
{% block content %}
<div class='main-container'>

  <div class='info-container'>
    <p class='grand-title'>Success</p>
    <p class='sub-text'>Your message has been sent!</p>

    <p class='top-whitespace'>Stuff here.
      More text to test out line wrap.
      More text to make sure that line actually wraps.</p>
  </div>

    <!-- Random image of joy here -->
  <div class='qr-container'>
      <p>[ -image of happiness goes here- ]</p>
  </div>
</div>

{% endblock %}